@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");

html, body {
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.holy-grail {
    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.content-wrapper {
    flex: 1 1 auto;
    order: 2;
    display: flex;
    flex-direction: column;
}

.content-header {
    flex: 0 0 50px;
    font-size: 16px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 7px;
    background: #EAEEF0;
}

.content {
    flex: 1;
    overflow: auto;
}

.button {
    cursor: pointer;
}

.button:before {
    content: '\f0c9';
    font: 42px fontawesome;
}

.nav-wrapper, .sidebar-wrapper {
    /* 12em is the width of the columns */
    flex: 0 0 10em;
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
}

.nav-wrapper {
    order: 1;
    transition: flex 1s
    /*transition: transform 0.5s,flex 0.5s;*/
    /*transform: translate3d(0, 0, 0);*/
}

.nav-wrapper.isOpen {
    /*transform: translate3d(-161px, 0, 0);*/
    flex: 0 0 0;
}

.sidebar-wrapper {
    order: 3;

}

.nav-header, .sidebar-header {
    flex: 0 0 50px;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    background: #E5E5E5;
}

.nav-content, .sidebar-content {
    flex: 1;
    overflow: auto;
}

.nav li a {
    position: relative;
    display: block;
    padding: 15px 15px 15px 50px;
    font-size: 12px;
    border-bottom: 1px solid #222;
}

.nav li a:before {
    font: 14px fontawesome;
    position: absolute;
    top: 14px;
    left: 20px;
}

.nav li:nth-child(1) a:before {
    content: '\f00a';
}

.nav li:nth-child(2) a:before {
    content: '\f012';
}

.nav li:nth-child(3) a:before {
    content: '\f0e8';
}

.nav li:nth-child(4) a:before {
    content: '\f0c3';
}

.nav li:nth-child(5) a:before {
    content: '\f022';
}

.nav li:nth-child(6) a:before {
    content: '\f115';
}

.nav li:nth-child(7) a:before {
    content: '\f085';
}

.nav li:nth-child(8) a:before {
    content: '\f023';
    left: 23px;
}

.nav li a:hover {
    background: #444;
}

.nav li a.active {
    box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;
    background: #444;
}

header {
    background: #39444C;
    height: 50px;
}

footer {
    background: #39444C;
    height: 50px;
}



/*******************
* --Header
********************/
.main-header {
    display: flex;
    flex-direction: row;
    height: 50px;
    min-height: 50px;
}

.search {

}

.search input {

}

.logo {
    flex: 1 1 10%;
    margin: 0;
    background: #343F47;
    color: #ffffff;
}

.site-navigation {
    flex: 1 1 68%;
    height: 100%;
    background: #39444C;
}

.search {
    flex: 1 1 22%;
    padding-left: 10px;
    background: #343F47;
}

/*******************
* --Navigation
********************/

.site-navigation li {
    background-image: linear-gradient(to bottom, transparent 50%, #a2d39c 50%, #a2d39c 95%, #7cc576 95%);
    background-size: 100% 200%;
    background-position: top center;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: all .25s ease-in-out;
    flex: 1 1 auto;
    height: 100%;
}

.site-navigation li:hover {
    background-position: bottom center;
    color: rgba(0, 0, 0, 0.75);
}

.site-navigation li a {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    text-align: center;
    transition: all .25s ease-in-out;
    height: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*******************
* --Top Navigation
********************/
.site-navigation ul {
    display: flex;
    height: 100%;
}

.site-navigation a {
    color: #ffffff;
}